##python cache
pycache/
*.py[cod]
*.pyo

##virtual environments
.venv/
venv/
ENV/
env/

##system files
.DS_Store
Thumbs.db

##IDE/editor
.vscode/
.idea/

##API secrets
.env
*.env

##output
*.csv
*.log

##whitelist
!example.env